#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Navbar background based on theme */
.navbar.light {
  padding: 10px;
  background-color: #f5f5f5;
}

.navbar.dark {
  padding: 10px;
  background-color: #333;
}

/* Toggle container */
.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Toggle label */
.toggle-label {
  margin-right: 10px;
  color: inherit;
}

/* Hidden checkbox input */
.toggle-input {
  display: none;
}

/* Toggle track */
.toggle-track {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
}

.toggle-track.light {
  background-color: #ddd;
}

.toggle-track.dark {
  background-color: #555;
}

/* Toggle thumb */
.toggle-thumb {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transition: left 0.3s;
}

.toggle-thumb.light {
  left: 1px;
}

.toggle-thumb.dark {
  left: 20px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
